{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">DJango CRUD</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque omnis expedita eaque cum aperiam odio debitis atque? Adipisci ipsam animi vel. Numquam, nam odit atque, voluptatem minima eius neque excepturi debitis hic voluptas dolores sequi totam accusamus earum. Rerum, iusto repellat.</p>
    </section>
    <div class="text-center">
        <a class="btn btn-dark" href="/signin">Sign In</a>
        <a class="btn btn-dark" href="/signup">Sign Up</a>
    </div>
</main>
{% endblock %}
