{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque omnis expedita eaque cum aperiam odio debitis atque? Adipisci ipsam animi vel. Numquam, nam odit atque, voluptatem minima eius neque excepturi debitis hic voluptas dolores sequi totam accusamus earum. Rerum, iusto repellat. Voluptatibus labore modi quidem molestias vel, beatae odio sunt alias rerum, a maiores sapiente laudantium accusamus praesentium ullam esse eum iure. Accusantium minima quae, mollitia est fugiat expedita, odio delectus perferendis laborum optio vel nulla dicta quam exercitationem quaerat maxime error vitae doloremque porro natus laudantium neque quos sit? Voluptate sint facilis ratione cumque debitis? Porro eos laboriosam recusandae!</p>
{% endblock %}
