{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="lis-group">

                
                
                <h1 class="text-center">Tasks</h1>
                

                {% for task in tasks %}

                {% if task.datecompleted %}
                <h4>Title: {{task.title}} (Completed)</h4>
                <p>Description: {{task.description}}</p>
                <p>Created by: {{task.user.username}}</p>
                {% else %}
                
                <li class="list-group-item">
                    <a href="{% url 'task_detail' task.id %}">
                        {% if task.important %}
                        <strong>Title: {{task.title}}</strong>
                        {% else %}
                        <h4>Title: {{task.title}}</h4>
                        {% endif %}
                    </a>
                    
                    <p>Description: {{task.description}}</p>
                    <p>Created by: {{task.user.username}}</p>
            
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</main>


{% endblock %}